<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
      <!--
        <handlers accessPolicy="Read, Script">
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" userName="IUSR" />
            </authentication>
        </security>
        <staticContent>
            <mimeMap fileExtension=".crt" mimeType="application/pkix-cert" />
            <mimeMap fileExtension=".crl" mimeType="application/pkix-crl" />
        </staticContent>
        -->
    </system.webServer>
    <location path="database">
      <system.webServer>
          <security>
              <authorization>
                  <remove users="*" roles="" verbs="" />
                  <add accessType="Deny" users="*" />
              </authorization>
          </security>
      </system.webServer>
    </location>
    <location path="private">
      <system.webServer>
          <security>
              <authorization>
                  <remove users="*" roles="" verbs="" />
                  <add accessType="Deny" users="*" />
              </authorization>
          </security>
      </system.webServer>
    </location>
    <location path="newcerts">
      <system.webServer>
          <security>
              <authorization>
                  <remove users="*" roles="" verbs="" />
                  <add accessType="Deny" users="*" />
              </authorization>
          </security>
      </system.webServer>
    </location>
    <location path="csr">
      <system.webServer>
          <security>
              <authorization>
                  <remove users="*" roles="" verbs="" />
                  <add accessType="Deny" users="*" />
              </authorization>
          </security>
      </system.webServer>
    </location>
</configuration>